
*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url("../images/bg1.jpg");
	background-attachment: fixed;
}

.content{
	max-width: 75em;
	//height: 500px;
	margin: 0 auto;
	//border:2px solid red;
	//background-color: red;
	//overflow: scroll;
}

.content .head{
	width: 100%;
	text-align: center;
	border-bottom: red;
}

.head .welcome{
	color: pink;
	font-family: '微软雅黑';
	font-size: 2em;
	line-height: 2.5em;
	text-shadow: 2px 2px 3px #0F3805;
}

.head a .shutdown{
	width: 6%;
	float: right;
	margin-top: 0.6em;
	padding-right:1em; 
}

.content .nav{
	width: 29%;
	background-color: rgba(136, 78, 78, 0.25);
	float: left;
}

.content .main{
	width: 70%;
	//font-size: 2em;
	//border:2px solid yellow;
	float: right;
}

.nav h1{
	color: #D02D49;
	margin-left:2em;
	margin-top:2em; 
}

.lrow{
	list-style: none;
	margin: 2em;
	//padding: 1em;
}

.lrow a{
	text-decoration: none;
	display: block;
	//width: 100%;
	//text-align: center;
}
.lrow a:hover{
	//background-color: gray;
	color:pink;
}

.lrow a label{
	line-height: 3.6em;
	padding-left: 1em;
	font-size: 2em;
}

.defaultpic{
	max-width: 2em;
	border-radius: 0.3em;
	//margin-top: 0.7em;
}




/**
 * main
 */

.minf{
	background-color: rgba(243, 193, 202, 0.67);
	border:1px solid gray;
	border-radius: 0.5em;
	box-shadow: 2px 2px 2px gray;
	margin: 0.5em;
	padding: 1em;
}

.minf p{
	//padding: 0.5em;
	margin:1.5em;
}

td{
	width: 20em;
	height: 3em;
}


.minf .pen{
	float: right;
	text-align: right;
	display: block;
	width: 8%;
}

.minf .up_pen{
	float: right;
	text-align: right;
	display: block;
	width: 15%;
}

.minf .up_pen .up{
	width:35%;
}

.upphoto{
	border:2px solid #FFFFFF;
	width: 92%;
}

.uploadpic{
	display: none;
}

.filepic{
	width: 41%;
}

.btn{
    background-color: #da820a;
    margin:0 auto;
    border: none;
    border-radius: 4px;
    box-shadow: 4px 4px 40px #316DB9;
    color: #fff;
    font-size: 1.2em;
    //margin: 12px 0 0 26px;
    padding: 8px;
    text-shadow: 1px 1px 0px #777;
}

#comments{
	display: none;
}

.comment{
	width: 90%;
}



/**** 响应式网站设置
	****/


/* 930px */
@media only screen and (max-width: 58.125em){
	
	
	.content .nav{
		//width: 100%;
		font-size: 1em;
		text-align: center;
		margin: 0 auto;
	}

	/*.content .main{
		clear: both;
		width: 100%;
	}*/
}



/* 482px */
@media only screen and (max-width: 30.125em){

	
	.content .nav{
		font-size: 1em;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	.content .main{
		clear: both;
		width: 100%;
	}
}







